{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="flex min-h-screen bg-[#B8BC86]">

    <main class="flex-1 p-8">

        <div class="mb-8">
            <h1 class="text-4xl font-serif text-[#3B4419] mb-8">Modifier votre profil</h1>

            <div class="bg-[#3B4419] rounded-2xl overflow-hidden p-8">
                <div class="flex justify-between mb-4">
                    <div class="mt-4 mb-4">
                        {{ include('application/user/_delete_form.html.twig') }}
                    </div>
                </div>
                {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
                    <div>
                        {{ form_label(form.nom, null, {'label_attr': {'class': 'block text-sm font-medium text-white'}}) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div>
                        {{ form_label(form.prenom, null, {'label_attr': {'class': 'block text-sm font-medium text-white'}}) }}
                        {{ form_widget(form.prenom, {'attr': {'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                    <div>
                        {{ form_label(form.email, null, {'label_attr': {'class': 'block text-sm font-medium text-white'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">{{ button_label|default('Sauvegarder') }}</button>
                {{ form_end(form) }}

                <div class="mt-4">
                    <a href="{{ path('app_profil') }}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Retour</a>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}