{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-100 flex flex-col justify-center items-center">
    <div class="bg-white shadow-md rounded-lg p-8 max-w-lg w-full">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Connexion</h1>

        {% if error %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                <span class="block sm:inline">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 text-center">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-blue-500 hover:underline">Déconnexion</a>
            </div>
        {% endif %}

        <form method="post" class="space-y-6">
            <div>
                <label for="inputEmail" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" autocomplete="email" required autofocus placeholder="Email">
            </div>

            <div>
                <label for="inputPassword" class="block text-sm font-medium text-gray-700">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" autocomplete="current-password" required placeholder="Mot de passe">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="flex items-center">
                <input type="checkbox" name="_remember_me" id="remember_me" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                <label for="remember_me" class="ml-2 block text-sm text-gray-900">Se souvenir de moi</label>
            </div>

            <div>
                <button type="submit" class="w-full bg-indigo-600 text-black py-2 px-4 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Se connecter</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}