{% extends 'base.html.twig' %}

{% block title %}QuestContent index{% endblock %}

{% block body %}
    <h1>QuestContent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quest_content in quest_contents %}
            <tr>
                <td>{{ quest_content.id }}</td>
                <td>{{ quest_content.contenu }}</td>
                <td>
                    <a href="{{ path('app_application_quest_content_show', {'id': quest_content.id}) }}">show</a>
                    <a href="{{ path('app_application_quest_content_edit', {'id': quest_content.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_application_quest_content_new') }}">Create new</a>
{% endblock %}
