{% extends 'base.html.twig' %}

{% block title %}Edit Dons{% endblock %}

{% block body %}
<div class="flex min-h-screen bg-[#B8BC86]">
    {# Sidebar #}
    <aside class="w-64 bg-[#3B4419] text-white p-6">
        <div class="mb-12">
            <img src="{{ asset('image/logo.png') }}" alt="Greenify Logo" class="inline-block" style="height: 8rem;">
        </div>
    </aside>

    {# Main Content #}
    <main class="flex-1 p-8">
        <div class="flex justify-between items-center mb-8">
            <h2 class="text-xl text-[#3B4419]">Bonjour {{ app.user.prenom }}</h2>
        </div>

        <div class="mb-8">
            <h1 class="text-4xl font-serif text-[#3B4419] mb-8">Modifier Dons</h1>

            <div class="bg-[#3B4419] rounded-2xl overflow-hidden p-8">
                <div class="mt-4 mb-4">
                    {{ include('Application/dons/_delete_form.html.twig') }}
                </div>
                {{ include('Application/dons/_form.html.twig', {'button_label': 'Update'}) }}

                <div class="mt-4">
                    <a href="{{ path('app_application_quetes_index') }}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Back to list</a>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
