{% extends 'base.html.twig' %}

{% block title %}Dons index{% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-100 flex flex-col justify-center items-center">
    <div class="bg-white shadow-md rounded-lg p-8 max-w-4xl w-full">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Dons index</h1>

        <div class="mb-4">
            <a href="{{ path('app_admin_index') }}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Retour</a>
        </div>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">Titre</th>
                    <th class="py-2 px-4 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">Localisation</th>
                    <th class="py-2 px-4 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">CreatedAt</th>
                    <th class="py-2 px-4 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for don in dons %}
                <tr class="border-b">
                    <td class="py-2 px-4">{{ don.titre }}</td>
                    <td class="py-2 px-4">{{ don.localisation }}</td>
                    <td class="py-2 px-4">{{ don.createdAt ? don.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="py-2 px-4">
                        <a href="{{ path('app_application_dons_show', {'token': don.token}) }}" class="text-blue-500 hover:underline"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('app_application_dons_edit', {'token': don.token}) }}" class="text-blue-500 hover:underline ml-2"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8" class="py-2 px-4 text-center">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <a href="{{ path('app_application_dons_new') }}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700"><i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>
{% endblock %}