{% extends 'base.html.twig' %}

{% block title %}Quest index{% endblock %}

{% block body %}
    <h1>Quest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>DateDeCréation</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quest in quests %}
            <tr>
                <td>{{ quest.id }}</td>
                <td>{{ quest.nom }}</td>
                <td>{{ quest.description }}</td>
                <td>{{ quest.dateDeCréation ? quest.dateDeCréation|date('Y-m-d') : '' }}</td>
                <td>{{ quest.niveau }}</td>
                <td>
                    <a href="{{ path('app_application_quest_show', {'id': quest.id}) }}">show</a>
                    <a href="{{ path('app_application_quest_edit', {'id': quest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_application_quest_new') }}">Create new</a>
{% endblock %}
