{% extends 'base.html.twig' %}
{% block title %}Greenify - Quests
{% endblock %}

{% block body %}
	<h1>Quêtes Disponibles</h1>

	<div class="day-quests-list">
		{% for d in day_quests %}
			<div class="day-quest-item">
				<h2>{{ d.titre }}</h2>
				<p>{{ d.description }}</p>
				<p>XP Gagnée :
					{{ d.xp }}</p>
				<a href="{{ path('app_quetes_show', {'id': d.id}) }}" class="btn btn-primary">Voir Détails</a>
				<a href="{{ path('ajouter_xp', { 'amount': d.xp }) }}" class="btn btn-primary">Ajouter 50 XP</a>

			</div>
		{% else %}
			<p>Aucune quête disponible pour le moment.</p>
		{% endfor %}
	</div>
{% endblock %}
{#    {% include 'Components/footer.html.twig' %}#}
