{% extends 'base.html.twig' %}
{% block title %}Greenify - Quests
{% endblock %}

{% block body %}
	<h1>Quêtes Disponibles</h1>

	<div class="day-quests-list">
		{% for d in day_quests %}
			<div class="day-quest-item">
				<h2>{{ d.titre }}</h2>
				<p>{{ d.description }}</p>
				<p>XP Gagnée:
					{{ d.xp }}</p>

				{% if not d.isCompleted %}
					<form action="{{ path('app_day_quest_complete', {'questId': d.id}) }}" method="POST">
						<input type="hidden" name="xpAmount" value="{{ d.xp }}">
						<button type="submit" class="btn btn-primary">Finir la quête</button>
					</form>
				{% else %}
					<p>Cette quête est déjà terminée.</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
{#    {% include 'Components/footer.html.twig' %}#}
